@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply lg:max-w-3xl md:max-w-xl;
  }
}

:root {
  --background: #f2f3f5;
  --foreground: #000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}